*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Noto Serif', serif;

}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
.search {
    margin-right: 20px;
    color: #7e7e7e;
    width: 100px;
    box-sizing: border-box;
    border: 1px solid #e78200;
    border-radius: 5%;
    font-size: 14px;
    padding: 6px 10px 6px 20px;
    -webkit-transition: width 0.6s ease-in-out;
    transition: width 0.6s ease-in-out;
  }
  
 
  .search:focus {
    width: 62.5%;
    color: #7e7e7e;
    border: 1px solid #e78200;
  }
/* circle color: #7e7e7e */
/* logo color: #e78200 */
a {
    text-decoration: none;
    color: #e78200;  
}
p {
    color: #7e7e7e;

}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    padding: 20px;
}
.col-2 img{
    max-width: 100%;
    max-height: 50%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 30px 0 ;
    color: #e78200;
}
h2{
    font-size: 40px;
    line-height: 38px;
    margin: 20px 0 ;
    color: #e78200;
}
.btn{
    display: inline-block;
    background: #e78200;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.6s;

}
.btn:hover{
    background:red ;
}
.header{
    background: radial-gradient(#fff,#FBFBFB);
}


.header .row{
    margin-top: 1.5rem;
}
.categories{
    margin: 70px 0 ;

}
.col-3{
    flex: 30%;
    min-width: 300px;
}
.col-3 img{
    width: 100%;
    height: 240px;
    padding: 25px;
}
.tiny-container {
    max-width: 1080px;
    margin:auto ;
    padding: 10px;

}
.col-4{
flex-basis: 25%;
padding: 10px;
min-width: 200px;
margin-bottom: 50px;
transition: transform 0.6s;

}

h6{
    
    font-size: 16px;
    font-weight: lighter;
    color: #7e7e7e;
}
.col-4 img {
    width: 100%;
    height: 160px;
    
}
i{
    color: #e78200;
}
.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    color: #e78200;
  
}


.col-4:hover{
    transform: translateY(-10px);
}
.title2 {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    color: #e78200;
   
}

.col-s3{
    flex-basis: 33%;
    padding: 10px;
    min-width: 300px;
    margin-bottom: 50px;
    transition: transform 0.6s;
    }
.col-s3 img {
        width: 100%;
        height: 160px;
        
    }
    i{
        color: #e78200;
    }
 .col-s3:hover{
        transform: translateY(-10px);
}
.offer{
   
    padding-top:80px ;
    background: radial-gradient(#fff, #FBFBFB);
}
.offer .col-2{
    flex-basis: 38%;
    min-width: 300px;
    padding: 20px;
}
.offer .col-2 img{
    max-width: 100%;
    max-height: 50%;
    padding: 50px 0;
}
.offer .col-2  h1{
    font-size: 50px;
    line-height: 60px;
    margin: 30px 0 ;
    color: #e78200;
}
span{
    color: #e78200;
}
small {
    color: #7e7e7e;
}


.title_t {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    color: #e78200;
   
}

.teacher{
    padding-top: 100px;
    padding: 20px;
}

.teacher .col-4 {
    text-align: center;
    padding: 30px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.6s;
}
.teacher .col-4 img{
    width: 60%;
    margin-top: 20px;
    border-radius: 50%;
}
.teacher .col-4:hover{
    transform: translateY(-10px);
}
h3{
    font-weight: 600;
    color: #7e7e7e;
    font-size: 16px;
}

.col-4 p{
    font-size: 12px;
    margin: 12px;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

.row-select{
    justify-content: space-between;
    margin: 70px auto 50px;
    padding-left: 10px;
    padding-right: 10px;
}
select{
    border: 1px solid #e78200;
    padding: 5px;
}
select:focus{
    outline: none;
}

.page-btn{
    padding-left: 104px;
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #e78200;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #7e7e7e;
    color: #fff;
}
/* Detial */
.more-info{
    margin-bottom: 20px;
    color: #7e7e7e;
}
.extra-info-about-course{
    margin-bottom: 20px;
    color: #7e7e7e;
}
.fa-share-alt, .fa-heart-o, .fa-gift{
color: white;
}
.price{
    margin-top: -50px;
}
#detial{
    margin-top:50px;
}
.detial-img{
    margin-top: -30px;
}
.fa-shopping-cart, .fa-credit-card-alt{

    color: white;
}
.btn-detail{
    display: inline-block;
    background: #e78200;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.6s;

}

.detial-bottom{
    margin-top: 40px;
}
.btn-detail:hover{
    color: white;
    background:red;
}
.fa-television, .fa-file-code-o, .fa-folder-open-o, .fa-mobile, .infinite{
    font-size: large;
}
.course-info{
    color: #7e7e7e;
    margin-left: 13px;
}
.fa-refresh, .fa-language{
    margin-right: 10px;
}
.fa-cc{
    margin-right: 7px;
}

.fa-television{
    margin-right: 8px;
}
.fa-file-code-o, .fa-folder-open-o{
    margin-right: 14px;
}
.fa-lg{
    margin-right: 21px;
}
.infinite{
    margin-right: 16px;
}

.list li{
    display: block;
}
.fa-check-square-o{
    margin-right: 10px;
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 310px;
    
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.10);
}

.styled-table thead tr {
    background-color: #e78200;
    color: #7e7e7e;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #FBFBFB;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #e78200;
}
.styled-table tbody tr td{
    color: #7e7e7e;
}
.fa-play , .fa-file-o{
    margin-right: 10px;
}


/* Cart items */
.cart-item{
    margin: 80px auto;
}
.cart-item table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info img{
   
    width: 80px;
    height: 50px;
    margin-right: 10px;
}
.cart-info{
    
    display: flex;
    flex-wrap: wrap;

}
.cart-item th{
    text-align: left;
    padding: 5px;
    background: #e78200;
    color: #7e7e7e;
    font-weight: normal;
    
}
.cart-item td{
   
    padding: 10px 5px;
    color: #7e7e7e;
}
.cart-item a{
    font-size: small;
}

.total_price{
    display: flex;
    justify-content: flex-end ;
}

.total_price table{
    border-top: 3px solid #e78200;
    width: 100%;
    max-width: 400px;
}
.cart-item th:last-child{
    text-align: right;
}
.cart-item td:last-child{
    text-align: right;
    
}
.cart-item .btn{
    float: right;
}
/* account-section */

.account-section{
    padding: 50px 0;
    background: radial-gradient(#fff, #FBFBFB);
    

}
.form-container{
    background: white;
    width: 300px;
    height: 420px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color:  #e78200;
    cursor: pointer;
    width: 100px;
    display: inline-block;

}
.form-btn {
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 120px;
    transition: transform 0.6s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #e78200;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}

#signin{
    left: -300px;
}
#signup{
    left: 0;
}
form a{
    color: #7e7e7e;
}
#active_{
    width: 60px;
    border: none;
    background: #7e7e7e;
    height: 3px;
    margin-top:8px ;
    transform: translateX(125px);
    transition: transform 0.6s;
}

/* Contact */
.contact-section{
    padding: 20px 0;
    background: radial-gradient(#fff, #FBFBFB);
    

}
.contact-form{
    background: #FBFBFB;
    width: 300px;
    height: 420px;
    position: relative;
    text-align: center;
    padding: 10px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1); 
}
.contact-form span{
    font-weight: bold;
    padding: 0 10px;
    color:  #e78200;
    cursor: pointer;
    width: 140px;
    display: inline-block;

}

.contact-form form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 70px;
  
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #e78200;
}
form textarea{
    width: 260px;
    height: 100px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #e78200;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}

.about{
    width: 75%;
}
h4{
    color: #7e7e7e;
}

  .icon {
    padding: 10px;
    background: #7e7e7e;
    color: #e78200;
    min-width: 30px;
    text-align: center;
  }

/* Payment section */
.checkout-wrapper{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 400px;
}
.checkout-wrapper .payment-checkout{
    width: 100%;
    height: 100%;
    display: flex;
}
.checkout-wrapper .payment-checkout .course-inf{
    width: 45%;
    background: #e78200;
    border-top-left-radius: 20px;
   
    position: relative;
}
.checkout-wrapper .payment-checkout .course-inf img{
    width: 240px;
    margin-top: 30px;
    margin-left: 5px;
}
.checkout-wrapper .payment-checkout .course-inf .content{
    text-align: center;
    margin-top: 25px;
    color: #fff;
    text-transform: uppercase;
}
.checkout-wrapper .payment-checkout .course-inf .content h3{
    font-size: 18px;
    line-height:18px ;
    letter-spacing: 3px;
    color: #fff;

}
.checkout-wrapper .payment-checkout .course-inf .content p{
    font-size: 14px;
    margin-top: 10px;
    
}
.checkout-wrapper .payment-checkout .checkout-pay-form{
    width: 55%;
    background: #7e7e7e; 
    padding: 50px 30px;
    border-bottom-right-radius: 20px;
}
.checkout-wrapper .payment-checkout .checkout-pay-form p{
    margin-bottom: 25px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}
.checkout-wrapper .payment-checkout .checkout-pay-form .section{
    margin-bottom: 15px;
}

.checkout-wrapper .payment-checkout .checkout-pay-form .section input[type="text"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #e78200;
}
.checkout-wrapper .payment-checkout .checkout-pay-form .section input[type="text"]:focus{
    border-color: red;
}
.checkout-wrapper .payment-checkout .checkout-pay-form .section.last-section{
    display: flex;
    justify-content:space-between;
}
.checkout-wrapper .payment-checkout .checkout-pay-form .section.last-section .item{
    width: 48%;
}
.checkout-wrapper .payment-checkout .checkout-pay-form .checkout-btn{
    background: #e78200;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    margin-top: 25px;
}
.checkout-wrapper .payment-checkout .checkout-pay-form .checkout-btn:hover{
background: red;
}
.checkout-wrapper .payment-checkout .checkout-pay-form .checkout-btn a{
    color: #fff;
    letter-spacing: 3px;
}
.checkout-wrapper .payment-checkout .checkout-pay-form .section.accepted-cards{
    padding-top: 10px;
}



/* Footer */

.footer{
    margin-top: 80px;
     background:#7e7e7e;
     color: #e78200;
     font-size: 14px;
     padding: 60px 0 20px;

 }
 .footer p{
     color: #e78200;
 }
 .footer h3{
    
     color: #e78200;
     margin-bottom: 20px;
 }
 .footer-col-0, .footer-col-1, .footer-col-2, .footer-col-3{
     min-width: 250px;
     margin-bottom: 20px;
 }
 .footer-col-0{
     flex-basis: 25%;
 
 }
 .footer-col-1{
     flex-basis: 32%;
 }
 .footer-col-2, .footer-col-3{
     flex-basis: 12%;
 }
 ul{
     list-style-type:none ;
 }
 .app-logo{
     margin-top: 20px;
 }
 
 .app-logo .play-store{
     width: 120px;
 }
 .app-logo .app-store{
    width: 120px;
    height: 36px;
 }
 .footer hr{
     border: none;
     background: #e78200;
     height: 1px;
     margin: 20px 0;
 }
 .copyright {
     text-align: end;
 }
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #7e7e7e;
        width:100%;
        overflow: hidden;
        transition: max-height 0.6s;
    }
    nav ul li {
        display: block;
        margin-right:50px ;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #e78200;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
}
@media only screen and (max-width: 600px){
    .row{
       
        align-items: center;
       
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .course_detail .row{
        text-align: left;
        padding: 20px;
    }
    .course_detail .col-2{
        padding: 20px 0;
    }
    .course_detail h1{
        font-size: 26px;
        line-height: 30px;
    }
    .course_detail h2{
        font-size: 22px;
        line-height: 26px;
    }
    .course_detail .btn, .btn-detail{
        margin: 8px;
    }
    .account-section{
        padding-right: 30px;
    }
    .contact-section{
        padding-right: 30px;
    }
    .contact-section h2{
        font-size: 22px;
        line-height: 26px;
    }
    .container h1{
        font-size: 26px;
        line-height: 30px;
    }
    .tiny-container h2{
        font-size: 22px;
        line-height: 26px;
    }
    .categories .tiny-container .row .col-3 a img{
        
        padding-left: 10px;
        padding-right: 10px;
    }
.about{
    width: 100%;
}
.contact-section{
    width: 300px;
}
.account-section{
    width: 300px;
}.checkout-wrapper{
    width: 300px;
}.checkout-wrapper .payment-checkout .course-inf{
    width: 30%;
}.checkout-wrapper .payment-checkout .course-inf img{
    width: 110px;
}
.checkout-wrapper .payment-checkout .course-inf .content h3{
    font-size: 12px;
}
.checkout-wrapper .payment-checkout .checkout-pay-form{
    width: 70%;
}
.checkout-wrapper .payment-checkout .checkout-pay-form p{
    font-size: 16px;
}

.checkout-wrapper .payment-checkout .checkout-pay-form .checkout-btn a{
    letter-spacing: 1px;

}
.checkout-wrapper .payment-checkout .checkout-pay-form .section.accepted-cards img{
   width: 32px;
}

}

